body {
	background: #1f1f1f;
}
.content {
	position: relative;
	width: 500px;
	left: calc(50% - 280px);
	padding: 30px;
	border: solid #22d4a7 3px;
	border-radius: 6px;
	background: rgba(0,0,0, 0.79);
	margin-top: 50px;
}
label {
	display: block;
}
input {
	width: 200px;
}
#file {
	position:relative;
	border:0;
	margin:0;
	margin-bottom: 10px;
	padding:0;
	cursor:pointer;
	font-weight:bold;
	color:#22d4a7;

}

.filters {
	border: solid #22d4a7 2px;
	border-radius: 4px;
	color: #22d4a7;
}

canvas:hover {
	cursor: crosshair;
}

input[type="range"] {
	margin: 15px 0;
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 300px;
  height: 3px;
  border-radius: 5px;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #e74c3c;
}
